# Project exclude paths
/.gradle/
/build/
/.idea/
/test/
/out/
/run/
/bots/
/logs/
/wrapper/
/caches/
/daemon/
/native/
/kotlin-profile/
/src/test
src/test/kotlin/RunMirai.kt
src/test/kotlin/RunMirai.kt
src/test/kotlin/RunMirai.kt
src/test/kotlin/RunMirai.kt
